*{
    vertical-align: middle;
	outline: 0;
	padding: 0;
    margin: 0;
    justify-content: center;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;

}

#contenedor {
    height: 100%;
    width: 100%;
    background-color: rgb(207, 204, 204);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
#contenedor-carta{
    height: 100%;
    width: 90%;
    margin: 20px 0 20px 0;
    background-color: black;
    box-shadow: darkred;
    -webkit-box-shadow: -7px 8px 5px 0px rgba(0,0,0,0.4);
-moz-box-shadow: -7px 8px 5px 0px rgba(0,0,0,0.4);
box-shadow: -7px 8px 5px 0px rgba(0,0,0,0.4);
}
#header{
    width: 100%;
    height: 140px;
    text-align: center;
    background-color: black;
    border-bottom: 1px solid white;
    display: inline-flex;
    padding-top: 5px;
   

}
.header-element{
    width: 25%;
    height: 120px;
    

}
.letra-grande{
    font-size: 3em;
    font-weight: bolder;
    color: white;
    padding-top: 30px;
}
#logo{
    padding-top: 30px;
    background: url("images/logo.png") no-repeat center;
    background-size: 130px;
}
#contenedor-banner{
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 330px;
    width: 100%;
    background-color: black;
}
#banner {
    background-color: whitesmoke;
    height: 90%;
    width: 96%;
    display:flex    ;
    padding: 8px;
}
#mejor-precio{
    width: 200px;
    height:150px;
    padding-top: 40px;
    color: white;
    background : url("images/bestprice.png") no-repeat center;
    background-size: 80%;
    position: absolute;
    left: 4%;
    margin-top: 50px;
}
h9{
    font-size: 50px ;
    font-weight: bolder;
}
h8{
    font-size: 50px;
    font-weight: bolder;
    color: black;
    border-bottom: 0.5px solid black;
}
h10{
    font-size: 50px;
    font-weight: bolder;
    color: white;
    border-bottom: 0.5px solid white;
}
h3, h4, h5, h6{
    text-align: left;
}

h12{
   font-size: 1.5em;
   font-weight: bold;
    color: black;
}
h13{
    font-size: 3.5em;
   font-weight: bold;
    color: white;
    
}

#black-container{
    height: 100%;
    width: 100%;
    background-color: black;
    padding: 10px;
    display:flex
}
#white-container{
    height: 100%;
    width: 100%;
    background-color: white;
    
    display: flex;
}
#imagen-banner{
    height: 100%;
    width: 100%;
    background: url("images/banner-imagen.JPG") no-repeat center;
    background-size:120%;
    display: inline-flexbox;
    
}
#descripcion-promo{
    height: 100%;
   
    width: 100%;
   background-color: white;
   display: inline-flexbox;
   margin: 0 30px 10px 30px;
}

#contenedor-menu{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    padding-bottom: 20px;
}
.menu-list{
    background-color: black;
    display: inline-flexbox;
    height: 90%;
    width: 50%;
    padding: 50px;
    margin: 8px 10px 0px 5px;
    color: white;
   
}



#contenedor-plato{
    background-color: black;
    width: 100%;
    height: 120px;
    display: flex;
   
}

#icono-precio{
    background: black url("images/label-precio1.png") no-repeat center content-box;
    background-size: 100px;
    height:119px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
#icono-precio2{
    
    background-size: 100px;
    height:119px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;

}

.precio-grande{
    border-right: 1px solid white;
    background-color: black;
    padding-right: 50px;
    
    
    height: 60%;
    width: 100%;
   
}
#descripcion-platos{
    background-color: black;
    height:99%;
    width: 100%;
    display: inline-flexbox;
    padding: 0 10px;
}


#footer{
    width: 100%;
    height: 200px;
    background-color: black;
    padding: 30px;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 1px solid white;
}


  #footer a {

    color: white;
    font-size: 40px;
  
  }
  
  #footer a:hover {
  
    color: rgb(179, 179, 179);
  
  }

.seguinos{
    font-size: 25px;
}
.copyright{
    font-size: 12px;
    font-weight: 100;
}